/******************正文部分*****************/
.error404 .entry-header{
    padding:150px 0;
	background:url("../../../images/frontend/app/404.png") no-repeat bottom center #48C6D5;
}
.error404 .entry-header .entry-title{
	text-align:center;
	font-size:3em;
	color:#fff;
}
