/******************正文部分*****************/
.site-content{
	position:relative;
	padding-bottom:140px;	
	}
.archive-header{
	position:absolute;
	left:50px;
	top:0;
	width:25%;
	}
.archive-title{
	font-size:2em;
	color:#666;
	font-family:Georgia, "Times New Roman", Times, serif;
	margin-top:0;
	font-style:italic;
	font-weight:normal;
	}


.post-list{
	margin:0 0 0 30%;
	font-family:Verdana, Geneva, sans-serif;
	}
.post-list li{
	position:relative;
	border-bottom:#ccc 1px dotted;
	padding:10px;
	overflow:hidden;
	}
.post_thumb{
	width:200px;
	}
.post_thumb>img{
	width:100%;
	}
.post_abstract{
	position:absolute;
	left:250px;
	top:10px;
	}
.post_abstract h3{
	margin:0;
	}
.post_abstract h3 a{
	text-decoration:none;
	color:#666;
	font-size:1.5em;
	font-family:Verdana, Geneva, sans-serif;
	}
.post_abstract p{
	font-size:12px;
	line-height:1.5em;
	margin-right:180px;
	}	
.post-list li .hnid_btn_more{
	width:170px;
	height:60px;
	font-size:14px;
	background:url(../../../images/frontend/app/btn_more_bg_gray.png) no-repeat;
	position:absolute;
	right:0;
	bottom:10px;
	line-height:60px;
	padding:0 30px 0 50px;
	text-decoration:none;
	color:#fff;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	}
.post-list li .hnid_btn_more:hover{
	color:#ccc;
	}
.post-list .post_abstract>.entry-date{
	margin:10px 0;
	font-size:14px;
	color: #666;
	font-style: italic;
	background:url("../../../images/frontend/app/icon_date_gray.png") no-repeat 0 center;
	padding-left:25px;
	}
.hnid_pagination{
	padding:50px 0;
	}
.hnid_pagination ul.page-numbers{
	text-align:center;
	}
.hnid_pagination ul.page-numbers li{
	display:inline;
	}
.hnid_pagination ul.page-numbers li span, ul.page-numbers li a{
	text-decoration:none;
	padding:0 20px;
	height:50px;
	line-height:50px;
	color:#fff;
	background:#666;
	display:inline-block;
	}
.hnid_pagination ul.page-numbers li a:hover{
	background:#333;
	}
.hnid_pagination ul.page-numbers li .current{
	background:#000;
	}

