/******************通用元素*****************/
.section_heading{
    font-family:Georgia, "Times New Roman", Times, serif;
    font-size:24px;
    font-style:italic;
    text-transform:capitalize;
    width:60%;
    margin:50px auto;
    text-align:center;
    display: none;
}
.post_list{
    text-align:center;
}
.post_list li{
    display:inline-block;
    width:22%;
}
.post_thumb img{
    width:100%;
}
.post_title{

}

.btn_more{
    position:absolute;
    right:0;
    bottom:40px;
    background:url(../../../images/frontend/app/btn_more_bg_white.png) no-repeat;
    display:inline-block;
    width:300px;
    height:60px;
    line-height:60px;
    font-size:14px;
    font-weight:bold;
    padding:0 60px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
    text-decoration:none;
    color:#000;
}
.btn_more:hover{
    color:#999;
}

/*****************news、programs**********/
.section_common{
    position:relative;
    background:#999;
}
.section_common .post_list li{
    background:#333;
    max-width:300px;
    margin:0 1%;
}
.section_common .post_title{
    margin:0;
    color:#ccc;
    padding:10px 20px;
    display:block;
    width:100%;
    height:100px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
    overflow:hidden;
    font-size:16px;
}
.section_common .post_date{
    color:#999;
    font-size:12px;
    letter-spacing: 6px;
}
.section_common .post_date{
    color:#999;
    font-size:12px;
    letter-spacing: 6px;
}
/****************news*****************/
.section_news{
    padding:0px 0 140px 0;
}
/******************programs*****************/
.section_programs{
    padding:50px 0 140px 0;
}
.section_programs .post_date{
    display: none;
}
.section_programs .btn_more{
    display: none;
}

/******************partners*****************/
.section_partners{
    padding:50px 0 140px 0;
    position:relative;
}
.section_partners .post_list{
    margin:0 20px;
}
.section_partners .post_list li{
    background:#333;
    width:150px;
    height:150px;
    overflow:hidden;
    margin:10px;
    position:relative;
}
.section_partners .post_abstract{
    width:150px;
    height:150px;
    position:absolute;
    background:#333;
    top:150px;
    -webkit-transition:all 0.4s ease-out;
    -moz-transition:all 0.4s ease-out;
    -ms-transition:all 0.4s ease-out;
    transition:all 0.4s ease-out;
}
.section_partners .post_list li:hover .post_abstract{
    top:0;
}
.section_partners .post_title{
    margin:0;
}
.section_partners .post_title a{
    text-decoration:none;
    color:#ccc;
    padding:20px;
    display:block;
    width:100%;
    height:150px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
    overflow:hidden;
    font-size:16px;
}
.section_partners .post_date{
    color:#999;
    font-size:14px;
    display:none;
}
.section_partners .btn_more{
    background:url(../../../images/frontend/app/btn_more_bg_gray.png) no-repeat;
    color:#ccc;
}
.section_partners .btn_more:hover{
    color:#fff;
}

/******************about*****************/
.section_about{
    padding:50px 0 140px 0;
    position:relative;
    border-top:#999 1px dotted;
}
.section_about .intro_text{
    width: 70%;
    margin: auto;
}
.section_about .intro_text div{
    position: relative;
}
.section_about .intro_text .bottom_logo{
    margin:0;
    position:absolute;
    top:70px;
    left:0px;
}
.section_about .intro_text .bottom_logo>a{
    font-size:0;
    text-indent:-9999px;
    display:block;
    width:273px;
    height:148px;
    background:url(../../../images/frontend/app/logo_cidic.jpg) no-repeat;
}

.section_about .intro_text h3{
    font-family:Verdana, Geneva, sans-serif;
    font-size:32px;
    text-align:center;
    color:#777;
    text-transform:uppercase;
}
.section_about .intro_text p{
    font-family:Georgia, "Times New Roman", Times, serif;
    font-size:14px;
    line-height: 2em;
    text-align:left;
    margin:0 0 10px 0px;
    text-indent: 28px;
}
.section_about .post_list li{
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 10px;
}
.section_about .post_list li a{
    font-size: 0px;
}
.section_about .post_list li img{
    width: 100%;
}
.section_about .btn_more{
    background:url(../../../images/frontend/app/btn_more_bg_gray.png) no-repeat;
    color:#ccc;
}
.section_about .btn_more:hover{
    color:#fff;
}

