/******************正文部分*****************/
.site-content{
	position:relative;
	padding-bottom:140px;
	}
.entry-header{
	position:absolute;
	left:50px;
	top:0;
	width:30%;
	}
.entry-title{
	font-size:2em;
	color:#666;
	font-family:Georgia, "Times New Roman", Times, serif;
	margin-top:0;
	font-style:italic;
	font-weight:normal;
	}
.entry-date{
	font-size:12px;
	letter-spacing:4px;
	color:#666;
	padding:1em 0;
	}
.entry-content{
	margin:0 50px 0 40%;
	font-family:Verdana, Geneva, sans-serif;
	}
.entry-content p{
	font-size:14px;
	line-height:24px;
	}
.entry-content img{
	display:block;
	margin:20px auto;
	max-width:100%;
	}
.entry-content a{
	color:#48C6D5;
	}
.entry-content a:hover{
	color:#333;
	}
.entry-content table{
	width:100%;
	}
.entry-content table td{
	padding:6px;
	border-collapse:collapse;
	border:#ccc 1px solid;
}
.btn_home{
	position:absolute;
    right:0;
    bottom:40px;
    background:url(../../../images/frontend/app/btn_more_bg_gray.png) no-repeat;
    display:inline-block;
    width:300px;
    height:60px;
    line-height:60px;
    font-size:14px;
    font-weight:bold;
    padding:0 60px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
    text-decoration:none;
    color:#fff;
	text-transform:uppercase;
	}
.btn_home:hover{
    color:#ccc;
	}
