body{
	margin:0;
	padding:0;
	font-family:"微软雅黑", verdana;
	}
ul{
	margin:0;
	padding:0;
	}
li{
	list-style:none;
	}

/******************通用元素*****************/
.section_title{
    font-family:Verdana, Geneva, sans-serif;
    font-size:12px;
    font-weight:bold;
    color:#333;
    letter-spacing:4px;
    width:200px;
    margin:20px auto;
    text-align:center;
    text-transform:uppercase;
}

/******************header*****************/

.page_header{
    height:148px;
    position:relative;
}
.top_logo{
    margin:0;
    position:absolute;
    top:0;
    left:10px;
}
.top_logo>a{
    font-size:0;
    text-indent:-9999px;
    display:block;
    width:273px;
    height:148px;
    background:url(../../images/cidic/logo_cidic.jpg) no-repeat;

}
.top_nav{
    position:absolute;
    top:70px;
    right:50px;
    text-transform:uppercase;
    font-family:Verdana, Geneva, sans-serif;
    font-weight:bold;
}
.top_nav ul li{
    display:inline;
    white-space:nowrap;
    margin:0 10px;
}
.top_nav ul li a{
    text-decoration:none;
    font-size:14px;
    display:inline-block;
    padding:40px 0 20px 0;
    color:#999;
}
.top_nav ul li a:hover{
    color:#000;
}


/******************正文部分*****************/
.site-content{
	position:relative;
	padding-bottom:140px;
	}
.entry-header{
	position:absolute;
	left:50px;
	top:0;
	width:30%;
	}
.entry-title{
	font-size:2em;
	color:#666;
	font-family:Georgia, "Times New Roman", Times, serif;
	margin-top:0;
	font-style:italic;
	font-weight:normal;
	}
.entry-date{
	font-size:12px;
	letter-spacing:4px;
	color:#666;
	padding:1em 0;
	}
.entry-content{
	margin:0 50px 0 40%;
	font-family:Verdana, Geneva, sans-serif;
	}
.entry-content p{
	font-size:14px;
	line-height:24px;
	}
.entry-content img{
	display:block;
	margin:20px auto;
	max-width:100%;
	}
.entry-content a{
	color:#48C6D5;
	}
.entry-content a:hover{
	color:#333;
	}
.entry-content table{
	width:100%;
	}
.entry-content table td{
	padding:6px;
	border-collapse:collapse;
	border:#ccc 1px solid;
	}	
	

.entry-tags{
	font-size:0;
	}
.entry-tags>li{
	display:inline-block;
	
	}
.entry-tags>li>a{
	display:inline-block;
	padding:0 20px 0 30px;
	height:50px;
	line-height:50px;
	background: url("../../images/xavier/icon20_tag.png") no-repeat 10px center #666;
	margin:0 10px 0 0;
	color:#fff;
	text-decoration:none;
	font-size:12px;
	}
.entry-tags>li>a:hover{
	color:#ccc;
	}
.nav-single{
	height:200px;
	position:relative;
	}
.nav-single > .assistive-text{
	display:none;
	}
.nav-single a{
	text-decoration:none;
	color:#fff;
	}
.nav-single a:hover{
	color:#333;
	}
.nav-single > .nav-previous{
	line-height:40px;
	height:40px;
	padding:0 10px;
	position:absolute;
	top:80px;
	left:0;
	background:#48c6d5;
	font-size:14px;
	}
.nav-single > .nav-previous:after{
	content:"";
	width:12px;
	height:40px;
	background:url("../../images/xavier/blue_flag_tail_right.png") no-repeat;
	position:absolute;
	top:0;
	right:-12px;
	}
.nav-single > .nav-next{
	line-height:40px;
	height:40px;
	padding:0 10px;
	position:absolute;
	top:80px;
	right:0;
	background:#48c6d5;
	font-size:14px;
	}
.nav-single > .nav-next:after{
	content:"";
	width:12px;
	height:40px;
	background:url("../../images/xavier/blue_flag_tail_left.png") no-repeat;
	position:absolute;
	top:0;
	left:-12px;
	}
.nav-single > .nav-previous >a, .nav-single > .nav-next >a{
	line-height:40px;
	height:40px;
	display:inline-block;
	}
.btn_home{
	position:absolute;
    right:0;
    bottom:40px;
    background:url(../../images/cidic/btn_more_bg_gray.png) no-repeat;
    display:inline-block;
    width:300px;
    height:60px;
    line-height:60px;
    font-size:14px;
    font-weight:bold;
    padding:0 60px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
    text-decoration:none;
    color:#fff;
	text-transform:uppercase;
	}
.btn_home:hover{
    color:#ccc;
	}
/******************contact*****************/
.section_contact{
    padding:50px 0 30px 0;
    position:relative;
    background:url(../../images/cidic/contactBg.jpg) no-repeat;
    background-size: 100% 100%;
    color: #E9E8E5;
    text-align:center;
}
.section_contact .contact_title{
    color: white;
    font-size:24px;
}
.section_contact h3{
    color: white;
    margin-top: 100px;
}
.section_contact .telephone{
    margin:40px 0px;
}
.section_contact .siteAddress{
    margin:40px 0px;
}
.section_contact .copyright_info{
    font-family:Georgia, "Times New Roman", Times, serif;
    font-size:12px;
    margin:100px auto 30px auto;
}